<div class="modal" tabindex="-1" role="dialog" id="rModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f37121 !important;">
        <h3 class="modal-title text-left">Create an Account</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 style="color: #111d5e !important;">Sign up for our Services</h4>
        <form>
          <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName" aria-describedby="FirstNameHelp"
              placeholder="Enter First Name" autocomplete="given-name">
          </div>
          <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName" aria-describedby="LastNameHelp"
              placeholder="Enter Last Name" autocomplete="family-name">
          </div>
          <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
              placeholder="Enter email" autocomplete="email">
          </div>
          <div class="form-group">
            <label for="passInput">Password</label>
            <input type="password" class="form-control" id="passInput" placeholder="Password"
              autocomplete="new-password">
          </div>
          <div class="form-group">
            <label for="passInputTwo">Re-enter Your Password</label>
            <input type="password" class="form-control" id="passInputTwo" placeholder="Password"
              autocomplete="current-password">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label" for="Optcheck">
              <input type="checkbox" class="form-check-input" name="formOpt" id="Optcheck" value="checkedValue" checked>
              By checking this button, you agree to subscribe for additional promotions, offers, news and information
              by email. You can unsubscribe at any time if you are no longer interested..
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">


        <button type="button" class="btn " style="color:white !important; background-color: #111d5e !important;">Create
          Account</button>
        <button type=" button" class="btn " style="color:white !important; background-color: #c70039 !important;"
          data-dismiss="modal">Close</button>


      </div>
    </div>
  </div>
</div>
</div>