<footer class="footer pt-5 pb-5" style="background-color: #ffbd69; margin-top: 50px !important;">
    <div class="container-fluid text-md-left">
        <div class="row">
            <div class="col-lg-1 w-100 d-flex flex-column emptyFt"></div>
            <div class="col-lg-4 d-flex flex-column align-items-start ft1">
                <h5 class style="color: #111d5e;">Quick Fresh Meals</h5>
                <p style="color: #111d5e;">
                    Get your breakfast, lunch, dinner delivered to your door at no time. Quick, easy and hassle free,
                    just download the app or go on our website and set up an account and order with one click. For
                    payment methods, see below.
                </p>
                <span class="d-inline">
                    <i style="color: #111d5e;" class="fab fa-cc-visa fa-3x"></i>
                    <i style="color: #111d5e;" class="fab fa-cc-mastercard fa-3x"></i>
                    <i style="color: #111d5e;" class="fab fa-cc-amex fa-3x"></i>
                    <i style="color: #111d5e;" class="fab fa-cc-paypal fa-3x"></i>
                    <i style="color: #111d5e;" class="fab fa-cc-stripe fa-3x"></i>
                    <i style="color: #111d5e;" class="fab fa-cc-apple-pay fa-3x"></i>
                </span>
            </div>
            <div class="col-lg-1 w-100 emptyFt"></div>
            <div class="col-lg-2 d-flex flex-column align-items-start ft2">
                <h5 style="color: #111d5e;">Site Links</h5>
                <ul style="list-style-type: none !important; padding-left: 0;
">
                    <li style="list-style-position: none !important; "><a
                            style="color: #111d5e; list-style-position: none !important;" href="/home">Home</a></li>
                    <li style="list-style-position: none !important; "><a
                            style="color: #111d5e; list-style-position: none !important;" href=" /meal_packages">Meal
                            Packages</a></li>
                    <li style="list-style-position: none !important; "><a
                            style="color: #111d5e; cursor: pointer !important;" data-target="#lModal"
                            data-toggle="modal">Login</a></li>
                    <li style="list-style-position: none !important;"><a
                            style="color: #111d5e; cursor: pointer !important;" data-toggle="modal"
                            data-target="#rModal">Register</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 d-flex flex-column flex-wrap align-items-start ft3">
                <h5>Subscribe to our Newsletter</h5>
                <p style="color: #111d5e;">
                    Get updates on the latest deals and promotions. Subcribe now and get additional
                    discounts and rewards.
                </p>
                <form action="https://formspree.io/mgelaqnd" method="POST">
                    <input type="email" name="_replyto" placeholder="ex. Joe@email.com" />
                    <button id="btnsub" class=" btn text-light" style="
background-color: #111d5e; border-radius: 5px; " type="submit" value="Send">Submit</button>
                </form>
            </div>
            <div class="col-lg-1 w-100"></div>
        </div>
    </div>
</footer>