<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f37121 !important;">
            <h3 class="modal-title text-left">Customer Login </h3>
        </div>
        <div class="modal-body">
            <h4 style="color: #111d5e !important;">Sign in and place an Order!</h4>



            <div class="container-fluid text-center justify-content-center flex-row d-flex">

                <a href="#"><i style="padding-right: 30px;" class="fa fa-5x fa-facebook-official"
                        aria-hidden="true"></i></a>
                <a href="#"><i style="padding-right: 30px;" class="fa fa-5x fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-5x fa-apple" aria-hidden="true"></i></a>
            </div>
            <hr>
            <form action="/log" method="POST">
                <div class="form-group">
                    <label for="emailInputTwo">Email Address</label>
                    <input type="email" class="form-control" name="emailLog" id="emailInputTwo"
                        aria-describedby="emailHelp" placeholder="Enter email" {{#if email}}value={{email}} {{/if}}
                        autocomplete="email">
                    {{#if cEm}}
                    <small id="emailHelpBlock" class="form-text text-danger ">
                        {{cEm}}
                    </small>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="passInputThree">Password</label>
                    <input type="password" class="form-control" name="passLog" id="passInputThree"
                        placeholder="Password" {{#if pass}}value={{pass}} {{/if}} autocomplete="new-password">
                    {{#if cPa}}
                    <small id="passwordHelpBlock" class="form-text text-danger ">
                        {{cPa}}
                    </small>
                    {{/if}}
                </div>

        </div>
        <div class="modal-footer justify-content-center">
            <button type="button submit" class="btn "
                style="color:white !important; background-color: #111d5e !important;">Sign
                In</button>

        </div>
        </form>
    </div>
</div>